<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span
          >© {{ now.Year }} The Blogdoang</span
        >
        <span
          >
          <a href="/privacy" target="_blank" rel="noopener">Privacy</a>&nbsp;</span
        >
        <span
          >
          <a href="/tos" target="_blank" rel="noopener">TOS</a></span
        >
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{- partial "extended_footer.html" . }}
