body {
    font-family: 'Input Sans', sans-serif;
}
.logo__cursor{
    background: #2ea043;
}
body.light-theme {
    --background: #EBF4EB;
    --header: #f7f7ff;
    --color: #00A000;
}
body.dark-theme {
    --background: #10101a;
    --header: #0c0c14;
    --color: rgba(255, 255, 255, 0.8);
}
.logo {
  font-family: monospace, monospace;
}
.post-title {
    font-size: 1.65rem;
    font-family: 'Input Serif', monospace;
}
.sharing-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sharing-buttons .resp-sharing-button__icon, .sharing-buttons .resp-sharing-button__link {
    display: inline-block;
}
.sharing-buttons .resp-sharing-button__link {
    text-decoration: none;
    margin: 0.5em;
}
.sharing-buttons .resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
 .sharing-buttons .resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top;
}
 .sharing-buttons .resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle;
}
.post-tags {
    display: unset;
}
.end-content {
    margin-top: 30px;
    margin-bottom: 30px;
}
code[class*="language-"],
pre[class*="language-"] {
    font-family: 'Input Serif', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
h2 {
  font-size: 1.325rem;
}

h3 {
  font-size: 1.075rem;
}

h4 {
  font-size: 1.025rem;
}
.footer {
    color: #00A000;
}